.balance {
  display: block;
}

.main {
  display: flex;
  flex-flow: row nowrap;
}

.display {
  flex-basis: 75vw;
  background-color: darkslategrey;
  color: white;
}

.options {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  flex-basis: 25vw;
}

.options-list {
  list-style: none;
}

.options-item {

}
