/* * { border: 1px solid black; } */

.balance {
  display: block;
  height: 20%;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  height: 300px;
  
}

.display {
  flex-basis: 75vw;
  background-color: darkslategrey;
  color: white;
  height: 100%;
}

.options {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25vw;
    border: 1px solid black; */
    flex-grow: 1;

}

/* .options-list {
  list-style: none;
  border: 1px solid black;
  height: 100%;
  padding: 0px;
  position: relative;
  bottom: 18px;
}

.options-item {
 width: 100%;
}

button, input {
  width: 100%;
}

#withdrawview, #depositview {
  /* height: 50%; */
/* } */

/* input {
  height: 50%;
  text-align: center;
}

#transactionslist {
  height: 100%;
} */ 