<h1>ATM View</h1>
<div class="main">
  <section class="display" id="atmview">
    Hello Henry
    <!-- Display Feedback information here -->
  </section>
  <aside class="options">
    <!-- Add functionality to the buttons below -->
    <ul class="options-list">
      <li class="options-item">
        <button (click) = "withdraw()">Make a Widthdrawal</button>
      </li>
      <li class="options-item">
        <button (click) = "deposit()">Deposit Money</button>
      </li>
      <li class="options-item">
        <button (click) = "balance()">Balance Inquiry</button>
      </li>
      <li class="options-item">
        <button (click) = "transactions()">Transactions History</button>
      </li>
    </ul>
  </aside>
</div>
