<div>

    <section>
        <h1> Contact us! </h1>
        <h1> Bank of Austin </h1>
        <h2> 1234 Gimmethemoney Street <br>
            San Diego, California <br>
            92103</h2>
    </section>

    <aside>
        <h1> Contact Form </h1>
        <form>
            <div style="display: flex; justify-content: space-evenly">
                <div>
                    <p>Name:</p> <input [(ngModel)]="_service.name" name="name" autocomplete="name" required />
                </div>
                <div>
                    <p>Email:</p> <input [(ngModel)]="_service.email" name="email" autocomplete="email" required />
                </div>
            </div>
            <div style="display: flex; justify-content: space-evenly; align-items: center">
                <div>
            <p>Message:</p> <input style="height: 100px" [(ngModel)]="_service.message" name="message" autocomplete="message" required />

        </div>
        <div style="width: 168px;">
            <input style="width: 100%;" (click)="_service.submit()" type="submit" value="Submit" />
        </div>
        </div>
        </form>
    </aside>

</div>