<div>
    
    <section>
        <h1> Contact us! </h1>
        <h1> Bank of Austin </h1> 
        <h2> 1234 Gimmethemoney Street <br>
        San Diego, California <br>
        92103</h2>
    </section>
    
    <aside>
        <h1> Contact Form </h1>
        <form>
            Name: <input [(ngModel)] = "_service.name" name = "name" autocomplete = "name" required/> <p> {{_service.name}} </p>
            Email: <input [(ngModel)] = "_service.email" name = "email" autocomplete = "email" required/> <p> {{_service.email}} </p>
            Message: <input [(ngModel)] = "_service.message" name = "message" autocomplete = "message" required/> <p> {{_service.message}} </p>
            <input (click) = "_service.submit()" type = "submit" value ="Submit"/>
        </form>
    </aside>
    
</div>